/*
 * Copyright © 2022 王金涛。
 * This file is part of taotao-docbook.
 *
 * taotao-docbook is free software: you can redistribute it and/or modify it under the terms of the
 * GNU Lesser Public License as published by the Free Software Foundation, either
 * version 3 of the License, or (at your option) any later version.
 *
 * taotao-docbook is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
 * PURPOSE. See the GNU Lesser Public License for more details.
 *
 * You should have received a copy of the GNU Lesser Public License along with taotao-docbook. If
 * not, see <https://www.gnu.org/licenses/>.
 */

pre.programlisting {
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-family: monospace;
    padding: 16px;
}

pre.programlisting .hl-keyword,pre.programlisting .hl-directive {
    color: #7F0055;
}
pre.programlisting .hl-comment {
    color: #3F7F5F;
}
pre.programlisting .hl-tag {
    color: #008080;
}

pre.programlisting .hl-string {
    color: #2A00FF;
}
pre.programlisting .hl-html{
    color: #008080;
}
pre.programlisting .hl-attribute{
    color: #7F007F;
}
pre.programlisting .hl-value{
    color: #2A00FF;
}




